<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://D:/Yinhai/yangbao/Code/gioi/WebContent/WEB-INF/lib/spring.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://D:/Yinhai/yangbao/Code/gioi/WebContent/WEB-INF/lib/spring.jar!/" />
    </SOURCES>
  </library>
</component>